body {
  margin: 0;
  font-family: 'Press Start 2P',
    cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  border: 2px solid blue;
  max-width: 800px;
  margin: 3rem auto;
  padding: 1rem;
}

.table-title {
  color: lightskyblue;
}

.highscore-table {
  border: 8px solid lime;
  margin: 2rem 0;
  padding: 1rem;
}

tr {
  height: 3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  text-align: right;
}

table tr:nth-child(2n) {
  background-color: lightgrey;
}

.player-name {
  text-transform: uppercase;
  width: 50%;
}

.player-score {
  color: darkred;
  width: 50%;
}

.order {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.btn {
  font-family: 'Press Start 2P',
    cursive;
  padding: 1em 1.25em;
  background-color: #fff;
  font-size: 1em;
  border-width: 4px;
}

.btn:hover,
.btn:active {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}